<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房屋发布——配套设施及价格</title>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            配套设施
        </h3><hr/>
    </div>
    <div class="panel-body">
        <form method="post" action="#">
            <table border="0">
                <tr><th>卫浴:</th><td>
                    <input type="checkbox" name="H_bath" value="牙具">牙具
                    <input type="checkbox" name="H_bath" value="香皂">香皂
                    <input type="checkbox" name="H_bath" value="毛巾">毛巾
                    <input type="checkbox" name="H_bath" value="手纸">手纸<p/>
                    <input type="checkbox" name="H_bath" value="浴液、洗发水">浴液、洗发水
                    <input type="checkbox" name="H_bath" value="热水淋浴">热水淋浴
                    <input type="checkbox" name="H_bath" value="浴缸">浴缸
                    <input type="checkbox" name="H_bath" value="拖鞋">拖鞋
                </td></tr>
                <tr><th>电器:</th><td>
                    <input type="checkbox" name="H_electro" value="电视">电视
                    <input type="checkbox" name="H_electro" value="空调">空调
                    <input type="checkbox" name="H_electro" value="饮水设备">饮水设备
                    <input type="checkbox" name="H_electro" value="冰箱">冰箱<p/>
                    <input type="checkbox" name="H_electro" value="洗衣机">洗衣机
                </td></tr>
                <tr><th>设施:</th><td>
                    <input type="checkbox" name="H_facilities" value="无线网络">无线网络
                    <input type="checkbox" name="H_facilities" value="有线网络">有线网络
                    <input type="checkbox" name="H_facilities" value="暖气">暖气
                    <input type="checkbox" name="H_facilities" value="电梯">电梯<p/>
                    <input type="checkbox" name="H_facilities" value="门禁系统">门禁系统
                    <input type="checkbox" name="H_facilities" value="停车位">停车位
                </td></tr>
                <tr><th>特别设施:</th><td>
                    <input type="checkbox" name="H_spefac" value="适宜儿童">适宜儿童（为儿童提供保护安全、便于就寝的设施）<p/>
                    <input type="checkbox" name="H_spefac" value="适宜老人">适宜老人（为老人提供方便进出和日常使用的设施）<p/>
                    <input type="checkbox" name="H_spefac" value="适宜残疾人">适宜残疾人（为残疾人提供无障碍通行和活动的设施）<p/>
                </td></tr>
                <tr><th>要求:</th><td>
                    <input type="checkbox" name="H_require" value="允许吸烟">允许吸烟
                    <input type="checkbox" name="H_require" value="允许做饭">允许做饭
                    <input type="checkbox" name="H_require" value="允许带宠物">允许带宠物
                    <input type="checkbox" name="H_require" value="允许聚会">允许聚会
                </td></tr>
                <tr>
                    <th>价格设置：</th><td><input type="text" name="H_price" placeholder="元/晚"></td>
                </tr>
                <tr><td><input type="submit" value="保存并继续"></td></tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>