<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zhuce</title>
</head>
<body>
<form method="post" action="/purerent/admins/id" name="form1">

    <input type="text" name="adminId" id="Id">
    <input type="text" name="adminName" >
    <input type="text" name="adminMail" >
    <input type="text" name="adminPassword">
    <input type="text" name="_method" value="PUT"/>
    <input type="submit" value="xiugai">


</form>
</body>
</html>